body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #eb5e07;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #d44e05;
}

.tab-content {
    display: none;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(222, 80, 4, 0.1);
    animation: fadeIn 0.5s ease;
}

.tab-content.active {
    display: block;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.profile-picture {
    border-radius: 50%;
    margin-bottom: 20px;
}

.download-btn {
    background-color: #eb5e07;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #d44e05;
}

.tableauPlaceholder {
    max-width: 100%;
    margin: 0 auto;
}

.tableauViz {
    width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .tableauViz {
        width: 800px;  /* Adjust width for medium screens */
        height: 500px;  /* Adjust height for medium screens */
    }
}

/* Additional responsive design adjustments */

@media (max-width: 800px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
